* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%;
  width: 100%;
}

body {
  height: 100%;
  width: 100%;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;   
}

h1,h2,h3,h4,h5,h6 {
  font-weight: normal;
}

ol,ul,li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.hiddWord {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-break: normal;
}

.loading {
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.loading.active {
  display: none;
}

.page {
  display: none;
}

.page.active {
  display: block;
}

header {}

header > .cover {
  background-image: url('../sources/playlistbg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 30px 10px 30px 15px;
}

header > .cover > .cover-img {
  width: 114px;
  height: 114px;
  position: relative;
}

header > .cover > .cover-img > img {
  width: 100%;
}

header > .cover > .cover-img > span {
  position: absolute;
  top: 10px;
  left: 0px;
  font-size: 12px;
  padding: 0 8px 2px 8px;
  background: rgba(217,48,48,.8);
  color: #fff;
  line-height: 15px;
  border-radius: 0 17px 17px 0;
}

header > .cover > .cover-img > .number {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  background: rgba(0,0,0,.15);
  font-size: 12px;
  align-items: center;
  justify-content: flex-end;
  color: #fff;
  padding: 0 2px 2px 0;
}

header > .cover > .cover-img .icon-db {
  width: 10px;
  height: 10px;
}

header > .cover > .cover-text {
  flex: 1;
  align-self: flex-start;
  padding-left: 16px;
  color: #fefefe;
}

header > .cover > .cover-text h3 {
  height: 44px;
  font-size: 17px;
  margin-bottom: 20px;
  margin-top: -1px;
 }

header > .cover > .cover-text .lister {
  display: flex;
  align-items: center;
}

header > .cover > .cover-text img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

header > .cover > .cover-text span {
  font-size: 14px;
  color: rgba(255,255,255,.7);
  margin-left: 5px;
}

header > .intro {
  padding: 10px 0 0 15px;
  font-size: 14px;
  color: #666;
}

header > .intro > .playlist-tag {
  margin-bottom: 12px;
  
}

header > .intro > .playlist-tag span {
  font-size: 12px;
  border: 1px solid rgba(0,0,0,.1);
  padding: 1px 8px;
  border-radius: 12px;
  margin-right: 12.5px;
  margin-left: -5px;
}

header > .intro > .playlist-intro {
  padding-bottom: 18px;
  position: relative;
}

header > .intro > .playlist-intro > .intro-text.hidden {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

header > .intro > .playlist-intro p {
  height: 19px;
}

header > .intro > .playlist-intro img {
  display: none;
  width: 12px;
  height: 7px;
  position: absolute;
  bottom: 5px;
  right: 11px;
}

header > .intro > .playlist-intro img.active {
  display: block;
}

.playlist {
  padding-bottom: 56px;
}

.playlist > h3 {
  height: 23px;
  line-height: 23px;
  font-size: 12px;
  color: #666;
  background-color: #eeeff0;
  padding-left: 10px;
}

.playlist > ol > li {
  position: relative;
  padding: 6px 10px 6px 40px;
  border-bottom: 1px solid rgba(0,0,0,.1);
  line-height: 1.5;
}

.playlist > ol > li .rank {
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 17px;
  color: #999;
}

.playlist > ol > li h3 {
  font-size: 17px;
  padding-right: 30px;
}

.playlist > ol > li p {
  font-size: 12px;
  color: #888;
  padding-right: 30px;
}

.playlist > ol > li .icon-sq {
  width: 12px;
  height: 12px;
  position: relative;
  top: 4px;
  margin-right: 4px;
}

.playlist > ol > li .icon-play {
  display: block;
  position: absolute;
  top: 50%;
  right: -3px;
  transform: translate(-10px,-50%);
  width: 30px;
  height: 30px;
  fill: rgba(0,0,0,.4);
}

footer {
  position: fixed;
  bottom: 0px;
  width: 100%;
  background: #fff;
  color: #fff;
}

footer > a {
  height: 40px;
  background-color: #d43b32;
  border-radius: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 7px 30px;
}

footer .icon-logo {
  width: 21px;
  height: 23px;
  margin-right: 3px;
}

@media screen and (min-width: 360px) {
  header > .cover > .cover-img {
    width: 126px;
    height: 126px;
  }
}

@media screen and (min-width: 414px) {
  header > .cover > .cover-img {
    width: 145px;
    height: 145px;
  }
}