* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%;
  width: 100%;
}

body {
  height: 100%;
  width: 100%;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;   
}

h1,h2,h3,h4,h5,h6 {
  font-weight: normal;
}

a {
  text-decoration: none;
}

@keyframes circle{
  100% {
    transform: rotate(360deg)
  }
}

.page {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-image: url('https://p4.music.126.net/tIv-E1Sc-EpoJL0M4mLcaw==/109951163024375283.jpg');
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: auto 100%;
}

.disc-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 63px;
  position: relative;
}

.disc-container .pointer {
  width: 84px;
  position: absolute;
  top: -63px;
  left: 50%;
  margin-left: -12px;
  z-index: 1;
}

.disc-container .ring {
  width: 248px;
}

.disc-container .light {
  width: 248px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -124px;
  margin-left: -124px;
}

.disc-container .circleWp {
  position: absolute;
}

.disc-container .cover {
  width: 156px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -78px;
  margin-left: -78px;
  border-radius: 50%;
}

.disc-container.playing .light,
.disc-container.playing .cover {
  animation: circle 20s infinite linear;
}

.disc-container .icon-wrap {
  width: 50px;
  height: 50px;
  border: 1px solid white;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.disc-container .icon-wrap .icon {
  width: 60%;
  height: 60%;
  fill: white;
}

.disc-container .icon-pause {
  display: none;
}

.disc-container.playing .icon-pause {
  display: block;
}

.disc-container.playing .icon-play {
  display: none;
}

.song-container {
  flex: 1;
  padding: 0 9.3vw;
  margin-top: 25px;
  color: #fefefe;
  text-align: center;
}

.song-container h2 {
  font-size: 15px;
  line-height: 1.1;
  color: #fefefe;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.song-container .lyric-view {
  height: 72px;
  line-height: 1.5;
  margin-top: 14px;
  overflow: hidden;
}

.song-container .lyric-view .lyric {
  transition: .3s;
}

.song-container .lyric-view .lyric p {
  font-size: 13px;
  padding-bottom: 5px;
  color: rgba(255,255,255,.6)
}

.song-container .lyric-view .lyric p.active {
  color: white;
}

.page > .links {
  display: flex;
  padding: 0 9.3vw;
  justify-content: center;
  margin-bottom: 20px;
}

.page > .links a {
  flex: 1;
  border: 1px solid #d43b32;
  border-radius: 4px;
  color: #d43b32;
  font-size: 15px;
  text-align: center;
  padding: 7px 6px;
}

.page .links .btnDownload {
  margin-left: 12px;
  background-color: #d43b32;
  color: white;
}

@media screen and (min-width: 360px) {
  .song-container .lyric-view {
    height: 96px;
  }

  .song-container h2 {
    font-size: 18px;
  }

  .song-container .lyric-view .lyric p {
    font-size: 16px;
    padding-bottom: 8px;
  }

  .disc-container {
    margin-top: 70px;
  }

  .disc-container .pointer {
      width: 96px;
      top: -70px;
      margin-left: -17px;
  }
  .disc-container .ring {
    width: 296px;
  }

  .disc-container .light {
    width: 296px;
    margin-left: -148px;
    margin-top: -148px;
  }

  .disc-container .cover {
    width: 188px;
    margin-left: -94px;
    margin-top: -94px;
  }

  .disc-container .icon-wrap {
    width: 56px;
    height: 56px;
  }

  .page > .links a {
    font-size: 18px;
    padding: 8px 6px;
  }
}

@media screen and (min-width: 414px) {

  .disc-container {
    margin-top: 80px;
  }

  .disc-container .pointer {
      width: 110px;
      top: -80px;
      margin-left: -22px;
  }
  .disc-container .ring {
    width: 342px;
  }

  .disc-container .light {
    width: 342px;
    margin-left: -171px;
    margin-top: -171px;
  }

  .disc-container .cover {
    width: 216px;
    margin-left: -108px;
    margin-top: -108px;
  }

  .disc-container .icon-wrap {
    width: 65px;
    height: 65px;
  }

  .page > .links a {
    font-size: 20px;
    padding: 10px 6px;
  }
}